@import '../../scss/config';


.general-setting{
    padding: 0px;
    margin: 15px 0px ;
    // background-color: red;

    .list-items{
        list-style-type: none;
        position: relative;
        padding: 0;
 

        .general-list-item{
            display: flex;
            flex-direction: row;
            margin-bottom: 4px;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            .general-list-item-icon{
                margin-right: 6px;
            }
        }
    }
}