@import '../../scss/config';



.sidebar{
    background-color: $brand_dark;
    flex: 1;
    height: 200vh;
    // position: sticky;


    .sidebarWrapper {
        padding: 2px;
        margin: 10px;
        color: $color_white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // background-color: aqua;

        .links{
            text-decoration: none !important;
            color: white !important;
        }

        .sidebarHeader{
            text-align: center;
            margin-bottom: 30px;

            .sidebarHeaderTitle {
                cursor: pointer;
            }
        }
        .sidebarUserInfoHeader{
            margin: 30px 0px;
            text-align: center;
            background-color: $brand_accent;

            .sidebarUserInfo{
                padding: 10px;
            }
        }
        .sidebarMainMenu{   
            width: 100%;
            margin-bottom: 15px;
            padding: 0px;
            .dashboardInfo {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
                padding: 10px;
                &:hover {
                    cursor: pointer;
                    background-color: $border_grey_dark; 
                }
                .dashboardInfoIcon{
                    margin-right: 5px;
                }
                .dashboardInfoTitle{
                    margin-left: 3px;
                }
            }
        }
    }
}