
$brand_primary: #95b8d4;
$brand_primary_light: #e1f1fb;
$brand_accent: #8c8acf;
$brand_inverse: #daa132;
$brand_accent_blur: #c1c7eb;
$brand_dark: #43435a;
$color_text: #616161;
$color_text_darker: #353535;
$color_white: #f5f5f5;
$color_grey_dark: #757575;
$color_grey_light: #c5c5c5;
$border_grey: #d5d5d5;
$border_grey_light: #e5e5e5;
$border_grey_dark: #959595;
